/*
Theme Name:     LA Public Press - Classic
Theme URI:      
Description:    Newspack-theme child theme.
Author:         P. E. A.
Author URI:     https://pealutz.me
Template:       newspack-theme
Version:        0.1.0
*/

.is-content-justification-center > * {
    text-align: center;
}

.wp-block-site-functionality-cta-slot.alignfull {
    padding-right: 0 !important;
    padding-left: 0 !important;
}