/*
Theme Name:     LA Public Press - Classic
Theme URI:      
Description:    Newspack-theme child theme.
Author:         P. E. A.
Author URI:     
Template:       newspack-theme
Version:        0.1.0
*/
