/*
Theme Name:     LA Public Press - Classic
Theme URI:      
Description:    Newspack-theme child theme.
Author:         P. E. A.
Author URI:     https://pealutz.me
Template:       newspack-theme
Version:        0.1.0
*/

.has-lg-font-size {
	font-size: var( --newspack-theme-font-size-lg );
}

.has-xl-font-size {
	font-size: var( --newspack-theme-font-size-xl );
}

.has-xxl-font-size {
	font-size: var( --newspack-theme-font-size-xxl );
}

.has-xxxl-font-size {
	font-size: var( --newspack-theme-font-size-xxxl );
}

.has-xxxxl-font-size,
.archive .entry-title.has-xxxxl-font-size  {
	font-size: var( --newspack-theme-font-size-xxxxl );
}


.alignfull {
	margin-left: calc( 50% - 50vw );
	margin-right: calc( 50% - 50vw );
	max-width: 100vw;
}

.archive #main, 
.blog #main, 
.page .main-content, 
.search #main, 
.single .main-content {
	margin-right: auto;
	margin-left: auto
}

.is-content-justification-center > * {
    text-align: center;
}

.tertiary-menu a {
	background: var( --wp--preset--color--accent-2 );
	color: var( --wp--preset--color--base );
}

.wp-block-button,
.tertiary-menu a,
button,
.wp-block-button__link {
	text-transform: uppercase;
}

.cat-links,
.entry-meta,
figcaption,
.wp-block-button,
.tertiary-menu a,
button,
.wp-block-button__link {
	font-family: var( --wp--preset--font-family--sans );
}

.cat-links a {
	background: var( --wp--preset--color--contrast );
}

.entry-meta a,
.entry-meta .byline a {
	color: var( --wp--preset--color--contrast );
}

.sd-social-icon .sd-content ul li[class*="share-"] a.sd-button.share-icon {
	background: var( --wp--preset--color--base ) !important;
	color: var( --wp--preset--color--contrast ) !important;
}

.wp-block-site-functionality-cta-slot.alignfull {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.tax-topic .highlight-menu-contain.desktop-only {
	display: none;
}

.tax-topic .site-content {
	margin-top: 0;
}
