/*
Theme Name:     LA Public Press - Classic
Theme URI:      
Description:    Newspack-theme child theme.
Author:         P. E. A.
Author URI:     https://pealutz.me
Template:       newspack-theme
Version:        0.1.0
*/
--newspack-theme-color-secondary
:root {
	--newspack-theme-color-primary: var( --wp--preset--color--accent-2 );
	--newspack-theme-color-primary-variation: var( --wp--preset--color--accent-3 );
	--newspack-theme-color-secondary: var( --wp--preset--color--accent-2 ) !important;
	--newspack-theme-color-secondary-variation: var( --wp--preset--color--accent-4 );
	--newspack-theme-color-primary-against-white: var( --wp--preset--color--accent-2 );

	--newspack-ui-color-button-bg: var( --wp--preset--color--accent-2 );
	--newspack-ui-color-button-bg-hover: var( --wp--preset--color--contrast );
	--newspack-ui-color-button-text: var( --wp--preset--color--base );
	--newspack-ui-color-button-text-hover: var( --wp--preset--color--base );
}

.has-sm-font-size {
	font-size: .8rem;
}

.has-md-font-size {
	font-size: var( --newspack-theme-font-size-md );
}

.has-lg-font-size {
	font-size: var( --newspack-theme-font-size-lg );
}

.has-xl-font-size {
	font-size: var( --newspack-theme-font-size-xl );
}

.has-xxl-font-size {
	font-size: var( --newspack-theme-font-size-xxl );
}

.has-xxxl-font-size {
	font-size: var( --newspack-theme-font-size-xxxl );
}

.has-xxxxl-font-size,
.archive .entry-title.has-xxxxl-font-size  {
	font-size: var( --newspack-theme-font-size-xxxxl );
}

.wp-block-group.alignwide,
.wp-block-columns.alignwide {
	max-width: 90vw;
	width: var( --wp--style--global--wide-size );
}

.alignfull {
	margin-left: calc( 50% - 50vw );
	margin-right: calc( 50% - 50vw );
	max-width: 100vw;
}

.wp-block-button__link {
	background-color: var( --wp--preset--color--accent-2 );
	color: var( --wp--preset--color--base );
}

.entry-container .wp-block-column {
	display: flex;
}

.entry-container .wp-block-column > .wp-block-group {
	flex: 1;
}

.archive #main, 
.blog #main, 
.page .main-content, 
.search #main, 
.single .main-content {
	margin-right: auto;
	margin-left: auto
}

.is-content-justification-center > * {
    text-align: center;
}

.tertiary-menu a {
	background: var( --wp--preset--color--accent-2 );
	color: var( --wp--preset--color--base );
}

.wp-block-button,
.tertiary-menu a,
button,
.wp-block-button__link {
	text-transform: uppercase;
}

.cat-links,
.entry-meta,
figcaption,
.wp-block-button,
.tertiary-menu a,
button,
.wp-block-button__link {
	font-family: var( --wp--preset--font-family--sans );
}

.cat-links a {
	background: var( --wp--preset--color--contrast );
}

.entry-meta a,
.entry-meta .byline a {
	color: var( --wp--preset--color--contrast );
}

.sd-social-icon .sd-content ul li[class*="share-"] a.sd-button.share-icon {
	background: var( --wp--preset--color--base ) !important;
	color: var( --wp--preset--color--contrast ) !important;
}

.wp-block-site-functionality-cta-slot.alignfull {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.tax-topic .highlight-menu-contain.desktop-only {
	display: none;
}

.tax-topic .site-content {
	margin-top: 0;
}

.wpnbha h2.article-section-title {
	font-size: var( --newspack-theme-font-size-xl );
	color: inherit;
}

.wp-block-post-template-is-layout-grid {
	gap: 2em;
}

.wp-block-post-template-is-layout-grid .entry {
	margin-top: 0;
}

.wp-block-post-template-is-layout-grid  .wp-block-columns {
	margin-bottom: 0;
}