.wp-block-button__link {
	background-color: var( --wp--preset--color--accent-2 );
	color: var( --wp--preset--color--base );
}

.wp-block-button,
.tertiary-menu a,
button,
.wp-block-button__link {
	text-transform: uppercase;
}

.cat-links,
.entry-meta,
figcaption,
.wp-block-button,
.tertiary-menu a,
button,
.wp-block-button__link {
	font-family: var( --wp--preset--font-family--sans );
}
